<div class="modal-header">
    <h4 class="modal-title">Annulation de votre annonce.</h4>
    <img class="btnClose" (click)="activeModal.dismiss('Cross click')" src="../../../assets/img/close.png"
        alt="Icone de fermeture">
</div>
<div class="modal-body">
    <p>Voulez-vous vraiment annuler cette annonce ? </p>
    <button class="btn btn-light" (click)="activeModal.dismiss('Cross click')">Annuler</button>
    <button class="btn btn-danger" (click)="annulerAnnonce(); activeModal.dismiss('Cross click')">Confirmer</button>
</div>