<div class="titreSection">
    <h1>Bienvenue !</h1>
</div>

<div class="fond">
    <div class="vehi" routerLink="reservations">
        <h1>Reservations</h1>
        <img src="https://prmeng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2020/05/23/node_87564/37530102/public/2020/05/23/B9723538602Z.1_20200523233453_000%2BG76G282G7.2-0.jpg?itok=Oq6CIa971590269712" alt="">
    </div>
    <div class="vehi" routerLink="annonces">
        <h1>Annonces</h1>
        <img src="https://lh3.googleusercontent.com/proxy/FnSO51qTytsfZhqGqojISraOSAZ5u-6VeCVAadCY5qp55EzZX459Ww2wlfeEk656gAmaRKcjBbgN5ZKZi8Nz4KHdDrpQ6GjMVjk8vvwd6HcwHSgxtHOK2RgFFDPIlGqFRwIGSjM" alt="">
    </div>

    <div class="vehi" routerLink="statistiques">
        <h1>Statistiques</h1>
        <img src="https://img.over-blog-kiwi.com/2/49/57/72/20171130/ob_0baedb_industrie-stats.jpg" alt="">
    </div>
</div>

