@font-face {
    font-family: Pacifico;
    src: url('../../../assets/fonts/Pacifico-Regular.ttf') format("opentype");
  }

.titreSection {
    font-family: 'Pacifico';
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

img {
    width: 100%;
    margin-top:50px;
}

h3 {
    width: 100%;
    margin: 0;
    text-align: center;
}

.ouais {
    text-align: center;
}

.alacon {
    margin-top: 50px;
}